html, body, div { padding: 0; margin: 0; }
hr { display: block; margin: 1rem auto; border: 2px solid black; width: 90%; }
h1, h2, h3, h4, h5 { text-align: center; margin: 0.75rem; }
h1 { font-size: 4rem; } /* No change needed, it's already quite large */
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1rem; }

.cyoa {
    padding: 0.1rem 0;
    margin: 0 auto;
    width: 56.25rem; /* 900px */
    background-color: #bbbbcc;
}

.introduction-text {
    text-align: center;
    font-size: 1.5rem; /* Increased from 20px */
    padding-bottom: 1rem;
    line-height: 1.6; /* Increased line height for readability */
    font-weight: 500; /* Slightly bolder */
}

.section-text {
    text-align: center;
    font-size: 1.125rem; /* Increased from 18px */
    margin: 0.5rem 2rem;
    line-height: 1.6;
}

.choices-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr)); /* 300px */
    gap: 1.25rem; /* 20px */
    padding: 1.25rem; /* 20px */
}

.choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 0.5rem; /* 8px */
    padding: 1.25rem; /* 20px */
}

.choice-image {
    width: 100%;
    height: auto;
}

.choice-text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 7.5rem; /* Adjusted padding */
}

.choice-title {
    text-align: center;
    font-size: 2rem; /* 32px */
}

.choice-text {
    text-align: center;
    font-size: 1rem; /* Increased from 14px */
    padding: 0 1rem; /* 16px */
    line-height: 1.6;
}

@media (max-width: 600px) {
.introduction-text, .section-text, .choice-text {
    font-size: 1rem; /* Adjust font size for smaller screens */
    }
}
